<main class="wrapper">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#form" class="nav-link button">Form</a>
                </li>
                <li class="nav-item">
                    <a href="#archive" id="button1" class="nav-link ">Archive</a>
                </li>
                <li class="nav-item sign-in">
                    {{!-- <img class="google" src="images/google-icon.png" alt="Google icon" /> --}}
                    <p class="nav-link"><span id="signed-in">Signed In As:</span></p>
                </li>
            </ul>
        </div>
    </nav>

    <section class="section parallax bg1">

        <div class="jumbotron">
            <h1 class="animated bounceInDown">Is this legit?</h1>
            <p class="lead">
                The internet is awash with misleading articles and information. We have all sat there wondering if the
                webpage you're reading is indeed legitimate and therefore trustworthy. Wouldn't it be nice to know the
                movitations behind the source that you're reading? Well you're in luck! Enter the text in question and marvel as the author's intentions come to light!
            </p>
            <p class="lead">
                <a href="#form" class="btn btn-secondary btn-lg button animated bounceInUp" role="button">Take Me There!</a>
            </p>
        </div>
    </div>

    <div class="card" id="resultsCard">
        <div class="card-body">
            <h5>Results:</h5>
            <p>Adult Content Detection: <span id="adult"></span></p>
            <p>Commercial Detection: <span id="commercial"></span></p>
            <p>Sentiment Analysis: <span id="sentiment"></span></p>
            <p>Subjective Analysis: <span id="subjective"></span></p>
            <p>Top Classification: <span id="top"></span></p>
        </div>
    </div>

</section>

<button class="saveds">save</button>

    <section id="archive" class="section parallax bg2">
        <h1>ARCHIVE HERE</h1>
    </section>

    <footer class="footer">
        <div class="container">
            <p>Created By: Cara Adelson, Jacob Artz, Jamie DeHaan, Stephen Michael & Tyler Winstead</p>
        </div>
    </footer>

</main>